body {
	background-color: #0e223a;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 1.3em;
}

.orgchart-node {
	border: 2px solid #bc9c5c;
	background-color: #0e223a;
	color: #ffffff;

}

.detail-dia {
	display: none;
}

body .google-visualization-orgchart-node-medium, .orgchart-node {
	font-size: 1.2em;
}

body .google-visualization-orgchart-linebottom  {
	border-bottom: 1px solid #bc9c5c;
}

body .google-visualization-orgchart-lineleft {
    border-left: 1px solid #bc9c5c;
}

body .google-visualization-orgchart-lineright {
    border-right: 1px solid #bc9c5c;
}

body h1 {
	text-align: center;

}

body h1.align-left {
	text-align: left;

}


a {
	color: #ffffff;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.edit-emp-button[type='submit'] {
	margin-top: 1em;
	font-size: .8em;
}

td>span {
	cursor:pointer;
}


/* title bar close button for jQuery UI dailog */
div.ui-dialog-titlebar>button.ui-corner-all {
	border: none;
	background-color: #0e223a;
}
/* title bar close button for jQuery UI dailog */
div.ui-dialog-titlebar>button.ui-corner-all>span {
	background-image: url(images/ui-icons_bc9c5c_256x240.png);
}