{% load static %}

<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="{% static 'makechart/jquery-ui.css' %}" />
  	<link rel="stylesheet" type="text/css" href="{% static 'makechart/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    </head>

{% comment %} The elements which permit interacting with the Employee model {% endcomment %}

  <body style="background-color:#0e223a">
  	<h1>{{ team.name }}</h1>
    <div id="chart_div"></div>

{% for employee in team.employees.all %}

 <div id="dia-{{employee.id}}" class="detail-dia">
    <form action="{% url 'makechart:employee-delete' employee.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-sm">Delete</button>
    </form>
    <form action="{% url 'makechart:employee-update' employee.id  %}" method="get" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-sm">Update</button>

    </form>

</div>

{% endfor %}

     <form action="{% url 'makechart:employee-entry'  %}" method="get" style="display: inline;">
            {% csrf_token %}
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
    </form>

  </body>

</html>

{% comment %} This is the part that uses the Google Charts API to build the visuals{% endcomment %}



<script type="text/javascript">

    function parseData() {
        var formattedData = [];
		{% for employee in team.employees.all %}
		    var emp{{ employee.id }} = [{
		                v: '{{ employee.id }}',
		                f: '<span id="node-{{ employee.id }}">{{ employee.name }}</span>'
		            },'{{employee.manager_id }}', ''];
		    formattedData.push(emp{{ employee.id }});
		{% endfor %}
        return formattedData;
    }

$(function() {
 chart();

    function chart() {
        var myData = parseData();

        google.charts.load('current', {
            packages: ["orgchart"]
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('string', 'Manager');
            data.addColumn('string', 'ToolTip');

            // For each orgchart box, provide the name, manager, and tooltip to show.
            data.addRows(parseData());
            // Create the chart.
            var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
            // Draw the chart
            chart.draw(data, {
                allowHtml: true,
                allowCollapse: true,
                nodeClass: "orgchart-node",
            });
            google.visualization.events.addListener(chart, 'select', selectHandler);
            function selectHandler(e) {
 				anEvent();
			}

        }
    }

    //Create the jQuery UI dialog for showing the Update and Delete buttons
    function anEvent() {
    	{% for employee in team.employees.all %}

		$("#node-{{employee.id}}").parents("td").on("click", function() {
		    $("#dia-{{employee.id}}").dialog({
		        appendTo: "body",
		        modal: true,
		        width: 500,
		        title: "Edit or Delete {{employee.name}}"
		    });
		});
		{% endfor %}
    }
});



</script>