{% load static %}

<!DOCTYPE html>
<html>
<head>
	<head>
  	<link rel="stylesheet" type="text/css" href="{% static 'makechart/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>

	<title></title>
</head>
<body class="flex-body">
	<div class="form-update-edit">
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
{% if employee.name %}
    <h3>{{ employee.name }}</strong></h3>
{% else %}
	 <h3>Add a New Employee</h3>
{% endif %}
<form action="" method="post" enctype="multipart/form-data" class="detail-update-form">
    {% csrf_token %}
    <table>
    {% include 'makechart/form-template.html' %}
    </table>
     <button type="submit" class="ui-widget">Submit</button>
</form>
<form action="{% url 'makechart:detail' employee.department.id %}" class="detail-update-form">
     <button type="submit" class="ui-widget">Cancel</button>
</form>
	</div>
</body>
</html>
