{% extends "base.html" %}

{% block title %}
  {% if employee.name %}Edit Employee
  {% else %}Create Employee
  {% endif %}
{% endblock %}

{% block topbanner %}
  {% if employee.name %}Edit {{employee.name}}
  {% else %}Create Employee
  {% endif %}
{% endblock %}

{% block maincontent %}
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<div class="flex-container-center">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
      <tbody>
        <form action="{% url 'makechart:confirm-emp-update' employee.id  %}" method="post" enctype="multipart/form-data" class="detail-update-form">
        {% csrf_token %}
        {% include 'makechart/form-template.html' %}
        <tr><td>Team</td><td> <select name="team" required="" id="id_team">
                <option value="">---------</option>
                {% for team in employee.allTeams %}
                <option value="{{team.id}}" {% if team.name == employee.getTeam %} selected="selected"{% endif %} >{{team.name}}</option>
                {% endfor %}<input type="hidden" name="oldteam" id="id_oldteam" value="{{employee.getTeam}}"></td></tr>
              </select>
            <tr>
              <td>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
              </td>
        }
        </form>
              <td>
              <form action="{% url 'makechart:index' %}" class="detail-update-form">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
              </form>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}