{% extends "base.html" %}

{% block title %}
  {% if team.name %}Edit Team
  {% else %}Create Team
  {% endif %}
{% endblock %}

{% block topbanner %}
  {% if team.name %}Edit {{team.name}}
  {% else %}Create Team
  {% endif %}
{% endblock %}

{% block maincontent %}
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<div class="flex-container-center">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
      <tbody>
        <form action="" method="post" enctype="multipart/form-data" class="detail-update-form">
        {% csrf_token %}
        {% include 'makechart/form-template.html' %}
            <tr>
              <td>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
              </td>
        }
        </form>
              <td>
              <form action="{% url 'makechart:index' %}" class="detail-update-form">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
              </form>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}